schema/XML/PUT/docanalyzer.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="analyzer" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="doc" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="class" minOccurs="0" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="segmenter" type="xs:string minOccurs="0" maxOccurs="1""/>
<xs:element name="mimetype" type="xs:string minOccurs="0" maxOccurs="1""/>
<xs:element name="encoding" type="xs:string minOccurs="0" maxOccurs="1""/>
<xs:element name="schema" type="xs:string minOccurs="0" maxOccurs="1""/>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="feature" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="search" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="type" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="select" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="tokenizer" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="name" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="arg" type="xs:string minOccurs="0" maxOccurs="unbounded""/>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="normalizer" minOccurs="1" maxOccurs="unbounded">
<xs:complexType>
<xs:any>
<xs:element name="name" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="arg" type="xs:string minOccurs="0" maxOccurs="unbounded""/>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="option" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:any>
<xs:element name="position" type="xs:string minOccurs="0" maxOccurs="1""/>
</xs:any>
</xs:complexType>
</xs:element>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="forward" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="type" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="select" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="tokenizer" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="name" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="arg" type="xs:string minOccurs="0" maxOccurs="unbounded""/>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="normalizer" minOccurs="1" maxOccurs="unbounded">
<xs:complexType>
<xs:any>
<xs:element name="name" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="arg" type="xs:string minOccurs="0" maxOccurs="unbounded""/>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="option" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:any>
<xs:element name="position" type="xs:string minOccurs="0" maxOccurs="1""/>
</xs:any>
</xs:complexType>
</xs:element>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="metadata" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="type" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="select" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="tokenizer" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="name" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="arg" type="xs:string minOccurs="0" maxOccurs="unbounded""/>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="normalizer" minOccurs="1" maxOccurs="unbounded">
<xs:complexType>
<xs:any>
<xs:element name="name" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="arg" type="xs:string minOccurs="0" maxOccurs="unbounded""/>
</xs:any>
</xs:complexType>
</xs:element>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="attribute" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="type" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="select" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="tokenizer" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="name" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="arg" type="xs:string minOccurs="0" maxOccurs="unbounded""/>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="normalizer" minOccurs="1" maxOccurs="unbounded">
<xs:complexType>
<xs:any>
<xs:element name="name" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="arg" type="xs:string minOccurs="0" maxOccurs="unbounded""/>
</xs:any>
</xs:complexType>
</xs:element>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="lexem" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="type" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="select" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="tokenizer" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="name" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="arg" type="xs:string minOccurs="0" maxOccurs="unbounded""/>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="normalizer" minOccurs="1" maxOccurs="unbounded">
<xs:complexType>
<xs:any>
<xs:element name="name" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="arg" type="xs:string minOccurs="0" maxOccurs="unbounded""/>
</xs:any>
</xs:complexType>
</xs:element>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="aggregate" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="type" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="function" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="name" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="arg" type="xs:string minOccurs="0" maxOccurs="unbounded""/>
</xs:any>
</xs:complexType>
</xs:element>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="pattern" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="search" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="type" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="pattern" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="normalizer" minOccurs="1" maxOccurs="unbounded">
<xs:complexType>
<xs:any>
<xs:element name="name" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="arg" type="xs:string minOccurs="0" maxOccurs="unbounded""/>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="option" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:any>
<xs:element name="position" type="xs:string minOccurs="0" maxOccurs="1""/>
</xs:any>
</xs:complexType>
</xs:element>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="forward" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="type" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="pattern" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="normalizer" minOccurs="1" maxOccurs="unbounded">
<xs:complexType>
<xs:any>
<xs:element name="name" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="arg" type="xs:string minOccurs="0" maxOccurs="unbounded""/>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="option" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:any>
<xs:element name="position" type="xs:string minOccurs="0" maxOccurs="1""/>
</xs:any>
</xs:complexType>
</xs:element>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="metadata" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="type" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="pattern" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="normalizer" minOccurs="1" maxOccurs="unbounded">
<xs:complexType>
<xs:any>
<xs:element name="name" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="arg" type="xs:string minOccurs="0" maxOccurs="unbounded""/>
</xs:any>
</xs:complexType>
</xs:element>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="attribute" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="type" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="pattern" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="normalizer" minOccurs="1" maxOccurs="unbounded">
<xs:complexType>
<xs:any>
<xs:element name="name" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="arg" type="xs:string minOccurs="0" maxOccurs="unbounded""/>
</xs:any>
</xs:complexType>
</xs:element>
</xs:any>
</xs:complexType>
</xs:element>
</xs:any>
</xs:complexType>
</xs:element>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="postmatcher" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="name" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="module" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="lexem" type="xs:string minOccurs="0" maxOccurs="unbounded""/>
<xs:element name="pattern" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:any>
<xs:element name="name" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="visible" type="xs:boolean minOccurs="0" maxOccurs="1""/>
<xs:element name="content" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:union>
<xs:element ref="expression" minOccurs="1" maxOccurs="1"/>
<xs:element ref="term" minOccurs="1" maxOccurs="1"/>
</xs:union>
</xs:complexType>
</xs:element>
</xs:any>
</xs:complexType>
</xs:element>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="subdoc" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="name" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="select" type="xs:string minOccurs="1" maxOccurs="1""/>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="subcontent" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="select" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="class" minOccurs="0" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="segmenter" type="xs:string minOccurs="0" maxOccurs="1""/>
<xs:element name="mime" type="xs:string minOccurs="0" maxOccurs="1""/>
<xs:element name="encoding" type="xs:string minOccurs="0" maxOccurs="1""/>
</xs:any>
</xs:complexType>
</xs:element>
</xs:any>
</xs:complexType>
</xs:element>
</xs:any>
</xs:complexType>
</xs:element>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="term" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="variable" type="xs:string minOccurs="0" maxOccurs="1""/>
<xs:element name="type" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="value" type="xs:string minOccurs="1" maxOccurs="1""/>
</xs:any>
</xs:complexType>
</xs:element>
<xs:element name="expression" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="variable" type="xs:string minOccurs="0" maxOccurs="1""/>
<xs:element name="op" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="range" type="xs:integer minOccurs="0" maxOccurs="1""/>
<xs:element name="cardinality" type="xs:integer minOccurs="0" maxOccurs="1""/>
<xs:element name="arg" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:union>
<xs:element ref="expression" minOccurs="1" maxOccurs="1"/>
<xs:element ref="term" minOccurs="1" maxOccurs="1"/>
</xs:union>
</xs:complexType>
</xs:element>
</xs:any>
</xs:complexType>
</xs:element>
</xs:schema>
