schema/XML/PUT/inserter.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="inserter" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="include" minOccurs="1" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="analyzer" type="xs:string minOccurs="1" maxOccurs="1""/>
<xs:element name="storage" type="xs:string minOccurs="1" maxOccurs="1""/>
</xs:any>
</xs:complexType>
</xs:element>
</xs:any>
</xs:complexType>
</xs:element>
</xs:schema>
