schema/XML/PUT/statserver.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="statserver" minOccurs="0" maxOccurs="1">
<xs:complexType>
<xs:any>
<xs:element name="storage" type="xs:string minOccurs="0" maxOccurs="unbounded""/>
<xs:element name="blocks" type="xs:string minOccurs="0" maxOccurs="1""/>
<xs:element name="proc" type="xs:string minOccurs="0" maxOccurs="1""/>
</xs:any>
</xs:complexType>
</xs:element>
</xs:schema>
